<% content_for :splash_pages do %>
	<div class="row">
		<div class="span8">
			<h2>Log into SimplePlan</h2>
			<br />
			<%= form_tag sessions_path do %>
				<label>Email</label>
				<%= text_field_tag :email, params[:email], class:"xlarge span4", type:"email", autofocus:"autofocus", placeholder:random_email_placeholder_text %><br /><br>
				
				<label>Password</label>
				<%= password_field_tag :password, params[:password], class:"xlarge span4" %>
				
				<fieldset class="form-actions">
					<input type="submit" class="btn success" value="Log In">
					<%= link_to "Cancel", root_url, class:'btn' %>
				</fieldset>
			
			<% end %>
		</div>
		<div class="span4">
			<h3>Not a member?</h3>
			<br />
			<%= link_to "Sign up today!", signup_path, class:'btn large info' %>
		</div>
	</div>
<% end %>