<% content_for :content do %>
	<div class="content">
		<%= render "layouts/alerts" %>
		<h2>Whoops!</h2>
		<br />
		<div class="alert-message block-message success">
			<p>
				<strong>Whoa there!</strong>
				It appears you want to register a new user but you are already logged in.
			</p>
			<p>
				Instead, you probably meant to add new members to your account.
			</p>
			<div class="alert-actions">
				<%= link_to "Yes, I want to add members to my account.", "#", class:'btn small' %>
				<%= link_to "No, this was a mistake.", root_url, class:'btn small' %>
			</div>
		</div>
	</div>
<% end %>