<% title "Edit Profile" %>

<% content_for :content do %>
	<div class="content">
		<%= render "layouts/alerts" %>
		<div class="page-header">
			<h1>My Profile</h1>
		</div>

		<div class="row">
			<div class="span10">
				<%= twitter_bootstrap_form_for @user do |user| %>
					<%= user.text_field :email %>

					<%= user.password_field :password do %>
						<span class="help-block">Type your new password here or leave blank to ignore.</span>
					<% end %>
		
					<%= user.password_field :password_confirmation, "Confirm", class:"large" do %>
					<% end %>

					<hr />
			
					<%= user.text_field :name, "Your name", autofocus:'autofocus', placeholder:funny_name %>
					<%= user.time_zone_select :timezone, "Time zone" %>

					<%= user.actions do %>
						<%= user.submit 'Update my account...' %>
						<%= link_to "Cancel", root_url, class:'btn' %>
					<% end %>
				<% end %>
			</div>
			<div class="span5">
			</div>
	</div>
<% end %>