<% content_for :splash_pages do %>
	<div class="row">
		<div class="span8">
			<h2>Register with SimplePlan</h2>
			<br />
			<%= twitter_bootstrap_form_for @user do |user| %>
				<%= user.email_field :email, class:'xlarge span4', :placeholder => 'simpleplanlovesme@example.com', autofocus:'autofocus' %>
				<br />
				<%= user.password_field :password, class:'xlarge span4'  %>
				<br />
				<%= user.password_field :password_confirmation, class:'xlarge span4'  %>
				<fieldset class="form-actions">
					<%= user.submit 'Sign up and start planning!', class:'btn success' %>
					<%= link_to "Cancel", root_url, class:'btn' %>
				</fieldset>
			<% end %>
		</div>
		<div class="span4">
			<h3>Already a member?</h3>
			<br />
			<%= link_to "Log in!", login_path, class:'btn large info' %>
		</div>
	</div>
<% end %>