<% title "Dashboard" %>
<% fluid %>
<% content_for :left_sidebar do %>
	<div class="sidebar left">
		<%= render "layouts/sidebar" %>
	</div>
<% end %>

<% content_for :content do %>
	<div class="content">
		<%= render "layouts/alerts" %>
		<% if current_user %>
			<h1>Dashboard</h1>
		<% end %>
	</div>
<% end %>