.footer {
	background: #7F7F7F;
	color: #F5F5F5;
	margin-top: 40px;
	padding: 20px 0 20px 0;
	text-align: center;
	
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #DADAD7;

}