<div class="navbar navbar-fixed">
	<div class="navbar-inner">
		<div class="container">
			<% if params[:controller] != "welcome" %>
				<a class="brand" href="/">SimplePlan</a>
			<% end %>
			<p class="pull-right" style="margin-left:30px;"><%= link_to "Log In", login_path %></p>
			<p class="pull-right" style="margin-left:30px;"><%= link_to "Sign Up", signup_path %></p>
			<p class="pull-right" style="margin-left:30px;"><%= link_to "Blog", signup_path %></p>
			<p class="pull-right" style="margin-left:30px;"><%= link_to "Pricing", signup_path %></p>
			<p class="pull-right" style="margin-left:30px;"><%= link_to "Tour", signup_path %></p>
		</div>
	</div>
</div>
<div class="container hero-unit">
	<%= render "layouts/alerts" %>

	<% if params[:controller] == "welcome" %>
		<header class="jumbotron subhead" id="overview">
			<h1>SimplePlan</h1>
			<br />
			<p class="lead">Start planning your projecs the <strong>simple</strong> way.</p>
		</header><br /><br />

		<div class="row">
			<div class="span6">
	          <h2>Register</h2>
			  <p>Registration is fast, easy and free!</p>
	          <p><%= link_to "Sign up in less than 30 seconds...", signup_path, class:"btn primary large" %></p>
	        </div>
			<div class="span6">
	          <h2>Log in and start planning</h2>
			  <p>Aleady a member?</p>
	          <p><%= link_to "Yes, I want to log in...", login_path, class:"btn success large" %></p>
	        </div>
		</div>
	<% else %>
		<%= yield :splash_pages %>
	<% end %>
</div>