<div class="topbar">
	<div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">SimplePlan</a>
			<ul class="nav">
				<li class="active"><%= link_to "Home", root_url %></li>
				<li><%= link_to "Projects", projects_path %></li>
			</ul>
			<p class="pull-right" style="margin-left:30px;">
				<%= link_to "Logout", logout_path %>
			</p>
			<p class="pull-right" style="margin-left:30px;">
				<%= link_to "My Account", profile_path, class:"strong" %>
			</p>
			<form class="pull-right" action="">
				<input type="text" class="span6" placeholder="Search" />
			</form>
		</div>
	</div>
</div>


<div class="navbar navbar-static">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "SimplePlan", root_url, class:'brand' %>
			<ul class="nav">
				<li class="active"><%= link_to "Home", root_url %></li>
			</ul>
		</div>
	</div>
</div>