<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "SimplePlan" %></title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<style type="text/css">
		      /* Override some defaults */
			  <% if current_user %>
				  html, body { background-color: #F3EDE7; }
			  <% else %>
				  html, body { background-color: #222222; }
			  <% end %>
			  body { padding-top: 60px; }
		</style>

		<!-- Google Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<% if current_user %>
			<%= render "layouts/toolbar" %>
			<div class="container<%= content_for?(:fluid) ? yield(:fluid) : "" %>">
				<%= yield :left_sidebar %>
				<%= yield :right_sidebar %>
				<%= yield :content %>
			</div>
		<% else %>
			<%= render "layouts/hero" %>
		<% end %>
	</body>
</html>